<footer>
  <div>
    <h2>
      Desenvolvido em 2023 por Lucas Marchesoni
    </h2>
  </div>
  <div class="options">
    <ul>
      <li>
        <a target="_blank" href="https://github.com/Lucas-2000/football-manager-team-analysis">API</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/Lucas-2000/football-manager-team-analysis-frontend">Website</a>
      </li>
    </ul>
    <ul>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/lucasmarchesoni/">Linkedin</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/Lucas-2000">Github</a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/Lucas-2000?tab=repositories">Portfolio</a>
      </li>
    </ul>
    <ul>
      <li>
        <a target="_blank" href="">Terms of use</a>
      </li>
      <li>
        <a target="_blank" href="">Help</a>
      </li>
    </ul>
  </div>
</footer>