<div class="container">
  <form class="registration-form">
    <h2>Create account</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="test" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" placeholder="test@example.com" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="********" [(ngModel)]="password" required>
      <p *ngIf="!error; else elseError"></p>
    </div>
    <ng-template #elseError>
      <p class="error">{{error}}</p>
    </ng-template>
    <button type="submit" (click)="submitRegisterForm({username, email, password})" [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="!isLoading">Create</span>
    </button>
  </form>
  <app-footer />
</div>
