<div class="container">
  <app-header />
  <section id="about">
    <h2>About</h2>
    <div class="about-main">
      <div>
        <ul>
          <li>
            <span class="list">
              <mat-icon>check</mat-icon>
              Insert teams
            </span>
          </li>
          <li>
            <span class="list">
              <mat-icon>check</mat-icon>
              Insert players
            </span>
          </li>
          <li>
            <span class="list">
              <mat-icon>check</mat-icon>
              Dashboard to get insights about your team;
            </span>
          </li>
          <li>
            <span class="list">
              <mat-icon>check</mat-icon>
              Generate pdf report
            </span>
          </li>
          <li>
            <span class="list">
              <mat-icon>check</mat-icon>
              Generate excel report
            </span>
          </li>
          <li>
            <span class="list">
              <mat-icon>check</mat-icon>
              Make comparision between your team and with a team of another user;
            </span>
          </li>
          <li>
            <a class="list-link" routerLink='/register'>
              Create account
              <mat-icon>login</mat-icon>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <img src="../assets/landing-page-logo.svg" alt="Landing page logo">
      </div>
    </div>
  </section>
  <section id="team">
    <h2>Team</h2>
    <div class="team-main">
      <div>
        <img src="../assets/lucas.jpg" alt="Author image">
      </div>
      <div>
        <h3>Hello, my name is <span>Lucas Marchesoni</span></h3>
        <p>I'm a full stack developer.</p>
        <p>Know more about my job:</p>
        <a target="_blank" href="https://www.linkedin.com/in/lucasmarchesoni/">Linkedin</a>
        <a target="_blank" href="https://github.com/Lucas-2000?tab=repositories">Portfolio</a>
      </div>
    </div>
  </section>
  <app-footer />
</div>