/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

:root {
  --main-bg-color: #e7e7e7;
  --secondary-bg-color: #393d3f;
  --main-color: #84e;
  --secondary-color: #5dfdcb;
  --white: #fff;
  --black: #000;
  --cancel: tomato;
}
