.content {
  padding: 1.25rem;
  margin-left: 250px;
}

.content h1 {
  font: 700 1.5rem "Poppins", sans-serif;
}

.content-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.team-content-empty {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.team-content-empty p {
  font: 600 1.5rem "Roboto", sans-serif;
  margin-top: 3rem;
}

.team-content-empty a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font: 700 1rem "Poppins", sans-serif;
  text-transform: uppercase;
  transition: 0.3s;
  margin: 1rem 0 3rem 0;
}

.team-content-empty a:hover {
  opacity: 0.7;
}

.team-content-empty a:active {
  opacity: 0.3;
}

.team-content-empty img {
  width: 100%;
}

.team-content span {
  font: 700 1rem "Roboto", sans-serif;
}

select {
  box-sizing: border-box;
  width: 300px;
  padding: 0.5rem;
  font: 400 1rem "Roboto", sans-serif;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  transition: 0.3s;
}

select:focus {
  border: 2px solid var(--main-color);
  outline: none;
}

.team-insights {
  background-color: #f5f5f5;
  padding: 1.125rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.team-insights ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-insights li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.team-insights li:last-child {
  border-bottom: none;
}

.team-insights p {
  margin: 0;
  font: 700 1rem "Roboto", sans-serif;
  color: #333;
  display: inline;
  margin-right: 1rem;
}

.team-insights span {
  font: 400 1rem "Roboto", sans-serif;
  color: #666;
}

.team-insights span.bold {
  font: 700 1rem "Roboto", sans-serif;
  color: #333;
}

.team-insights span.best-attribute {
  color: var(--main-color);
}
